<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="klas.css"
    <title></title>
</head>
<body>
    <!-- KARTVİZİT ARKA-->
    <div class="ana">

        <div class="üstsol"></div>
        <div class="üstsağ"></div>
        <div class="logo"></div>
        <div class="logo1"></div>
        <div class="alt"> </div>
        <div class="renkalt"> </div>
    </div>
    <!--KARTVİZİT ÖN-->
    <div class="anaön">

        <div class="önsekil1"></div>
        <div class="önsekil2"></div>
        <div class="önsekil3"></div>
        <div class="önsekil4"></div>
        <div class="şablon">
            <img src="Images/call.png" alt="call.png"/>
            <img src="address.png" alt="adress.png" />
            <img src="home.png" alt="home.png" />
        </div>
        <div class="person"> </div>


</body>
</html>
